html
{
	margin:auto;
	width:100%;
	text-align:center;
	color:white;
	background-color:#0F0F0F;
}

body
{
	margin:auto;
	width:95%;
	text-align:center;	
	color:white;
	background-color:#0F0F0F;
}

a
{
	text-decoration:none;
}

#CompleteContainer
{
	margin:auto;
	width:100%;
	text-align:center;		
	border:2px solid grey;
	margin-top:20px;
	position:relative;
}

#Header span.Image
{
	width:25%;
	float:left;
}
#Header span.Image img
{
	width:35%;
	height:100%;
}

#Header span.Image img.BackBtn:hover
{
	position:relative;
	top:2px;
}
#Header span.Image img.BackBtn:active
{
	position:relative;
	top:4px;
}

#Header span.Title
{
	width:48%;
	float:left;
}

#GraphContainer
{
	
}

.StartBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #86b9cc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #86b9cc;
	box-shadow:inset 0px 1px 0px 0px #86b9cc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #305673), color-stop(1, #6896c7));
	background:-moz-linear-gradient(top, #305673 5%, #6896c7 100%);
	background:-webkit-linear-gradient(top, #305673 5%, #6896c7 100%);
	background:-o-linear-gradient(top, #305673 5%, #6896c7 100%);
	background:-ms-linear-gradient(top, #305673 5%, #6896c7 100%);
	background:linear-gradient(to bottom, #305673 5%, #6896c7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#305673', endColorstr='#6896c7',GradientType=0);
	background-color:#305673;
	border:1px solid #22356e;
	display:inline-block;
	cursor:pointer;
	color:#ffff75;
	font-family:Courier New;
	font-size:24px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b87d79;
}
.StartBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6896c7), color-stop(1, #305673));
	background:-moz-linear-gradient(top, #6896c7 5%, #305673 100%);
	background:-webkit-linear-gradient(top, #6896c7 5%, #305673 100%);
	background:-o-linear-gradient(top, #6896c7 5%, #305673 100%);
	background:-ms-linear-gradient(top, #6896c7 5%, #305673 100%);
	background:linear-gradient(to bottom, #6896c7 5%, #305673 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6896c7', endColorstr='#305673',GradientType=0);
	background-color:#6896c7;
}
.StartBtn:active {
	position:relative;
	top:1px;
}

ul#PlotsUL
{
	list-style:none;
	position:relative;
	height:800px;
}

ul#PlotsUL li
{
	width:45%;
	height:300px;
	margin:20px;
	float:left;
}

ul#PlotsUL li div span
{
	text-align:center;
	position:absolute;
	font-size:100px;
	color:red;
	
}

ul#PlotsUL li div.GraphLabel
{
	font-weight:bold;
	text-align:center;
}

#XAxisPlot
{
	height:100%;
	width:100%;
}

.GraphAreaBox {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.GraphAreaBox:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.GraphAreaBox:active {
	position:relative;
	top:1px;
}



#AxisPlot
{
	height:100%;
	width:100%;
}

#AreaPlot
{
	height:100%;
	width:100%;
}

#PressurePlot
{
	height:100%;
	width:100%;
}

#ZScorePlot
{
	height:100%;
	width:100%;
}

.Clear
{
	clear:both;
}
