html
{
	margin:auto;
	width:100%;
	text-align:center;
	color:white;
	background: #3f4c6b; /* Old browsers */
	background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	font-family:"Times New Roman", Times, serif;
}

body
{
	margin:auto;
	width:90%;
	text-align:center;	
	color:#FFB02A;
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 3px #000000;
	background-color:#2D3B53;
	font-size:1.3em;
	font-family:"Times New Roman", Times, serif;
}

a
{
	text-decoration:none;
}

#CompleteContainer
{
	margin:auto;
	width:100%;
	text-align:center;		
	margin-top:20px;
	position:relative;
}

#Header span.Image
{
	width:25%;
	float:left;
}
#Header span.Image img
{
	width:35%;
	height:100%;
}

#Header span.Image img.BackBtn:hover
{
	position:relative;
	top:2px;
}
#Header span.Image img.BackBtn:active
{
	position:relative;
	top:4px;
}

#Header
{

	width:100%;
	text-align:center;
	font-size:1.3em;
	color:white;
	font-size:0.9em;
}

#TrainDiv
{
	text-align:center;
	display:inline-block; vertical-align:top; overflow:hidden; border:solid grey1px;
	float:left;
	width: 48%;
	text-align:center;
}

#TestDiv
{
	width: 48%;
	float:right;
}

.UsersList > label
{
	font-size:1.3em;
	font-weight:bold;
	color:#FFB02A;
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 3px #000000;
}
.UserSelection
{
	padding:10px;
	overflow:hidden;
	width:95%;
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Times New Roman", Times, serif;
	font-size:1.0em;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

#UserSelectionSpan
{
	float:left;
	margin-left:4%;
}
#InitializeButtonDiv
{
	margin-right:4%;
	text-align:center;
}

#GraphContainer
{
	
}

.StartBtn {
	-moz-box-shadow: 0px 10px 14px -7px #2061b0;
	-webkit-box-shadow: 0px 10px 14px -7px #2061b0;
	box-shadow: 0px 10px 14px -7px #2061b0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45b4d6), color-stop(1, #5276b3));
	background:-moz-linear-gradient(top, #45b4d6 5%, #5276b3 100%);
	background:-webkit-linear-gradient(top, #45b4d6 5%, #5276b3 100%);
	background:-o-linear-gradient(top, #45b4d6 5%, #5276b3 100%);
	background:-ms-linear-gradient(top, #45b4d6 5%, #5276b3 100%);
	background:linear-gradient(to bottom, #45b4d6 5%, #5276b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b4d6', endColorstr='#5276b3',GradientType=0);
	background-color:#45b4d6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #5566ba;
	display:inline-block;
	cursor:pointer;
	
	color:#ffffff;
	font-family:"Times New Roman", Times, serif;
	font-size:1.2em;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2c448a;
}
.StartBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5276b3), color-stop(1, #45b4d6));
	background:-moz-linear-gradient(top, #5276b3 5%, #45b4d6 100%);
	background:-webkit-linear-gradient(top, #5276b3 5%, #45b4d6 100%);
	background:-o-linear-gradient(top, #5276b3 5%, #45b4d6 100%);
	background:-ms-linear-gradient(top, #5276b3 5%, #45b4d6 100%);
	background:linear-gradient(to bottom, #5276b3 5%, #45b4d6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5276b3', endColorstr='#45b4d6',GradientType=0);
	background-color:#5276b3;
}
.StartBtn:active {
	position:relative;
	top:1px;
}

ul#PlotsUL
{
	list-style:none;
	position:relative;
	height:180px;
}

ul#PlotsUL li
{
	width:47%;
	height:150px;
	margin:20px;
	float:left;
}

ul#PlotsUL li div span
{
	text-align:center;
	position:absolute;
	font-size:100px;
	color:red;
	
}

ul#PlotsUL li div.GraphLabel
{
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
}



#XAxisPlot
{
	height:100%;
	width:100%;
}
#YAxisPlot
{
	height:100%;
	width:100%;
}

#ZAxisPlot
{
	height:100%;
	width:100%;
}

#MPlot
{
	height:100%;
	width:100%;
}

#ClassifierScorePlot
{
	height:220px;
	width:100%;
}

.Clear
{
	clear:both;
}

.ClassifierPlotHolder
{
	font-size:1.2em;
}

.PlotContainerTable
{
	width:100%;
	height:250px;
	font-size:1.0em;
}

.PlotContainerTableTR
{
	width:100%;
	height:100%;
}
.PlotContainerTableTD1
{
	width:3%;
	position:relative;
}
.PlotContainerTableTD1 div
{
	position:absolute;
	width:250px;
	right:-110px;
		/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.PlotContainerTableTD2
{
	width:97%;
}
