html
{
	width:100%;
	text-align:center;
	color:white;
	margin:auto;
}

body
{
	width:90%;
	text-align:center;
	color:white;
	background-color:#0F0F0F;
	margin:auto;
}

#CompleteContainer
{
	width:90%;
	border:2px solid grey;
	margin:auto;
	margin-top:20px;
	height:400px;
}
a
{
	text-decoration:none;
}
#DemoList
{
	list-style:none;
}

#DemoList li
{
	border:1px solid #222222;
	width:25%;
	float:left;
	margin:1%;
	padding:1%;
	height:230px;
	position:relative;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006e8f), color-stop(1, #003942));
	background:-moz-linear-gradient(top, #006e8f 5%, #003942 100%);
	background:-webkit-linear-gradient(top, #006e8f 5%, #003942 100%);
	background:-o-linear-gradient(top, #006e8f 5%, #003942 100%);
	background:-ms-linear-gradient(top, #006e8f 5%, #003942 100%);
	background:linear-gradient(to bottom, #006e8f 5%, #003942 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006e8f', endColorstr='#003942',GradientType=0);
	background-color:#006e8f;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffb78a;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

#DemoList li:hover
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #003942), color-stop(1, #006e8f));
	background:-moz-linear-gradient(top, #003942 5%, #006e8f 100%);
	background:-webkit-linear-gradient(top, #003942 5%, #006e8f 100%);
	background:-o-linear-gradient(top, #003942 5%, #006e8f 100%);
	background:-ms-linear-gradient(top, #003942 5%, #006e8f 100%);
	background:linear-gradient(to bottom, #003942 5%, #006e8f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#003942', endColorstr='#006e8f',GradientType=0);
	background-color:#003942;

}

#DemoList li:active
{
	position:relative;
	top:1px;
}

#DemoList li img.NAO
{
	width:120%;
	height:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:1;
}

#DemoList li img.EV3
{
	width:120%;
	height:100%;
	position:absolute;
	bottom:-40px;
	left:-100px;
	z-index:1;
}
#DemoList li img.ACC
{
	width:50%;
	height:90%;
	position:absolute;
	bottom:0px;
	left:20px;
	z-index:1;
}

#DemoList li span
{
	position:relative;
	z-index:2;
	font-size:40px;
	color:black;
}
.Clear
{
	clear:both;
}
